@import "../../theme/variables";

page-time-line-approval {
    ion-card{
        display: block;
        ion-list{
            ion-item-sliding{
                ion-item{
                    text-align: center !important;
                    background: color($colors, light) !important;
                    h3{
                        color: color($colors, dark) !important;
                    }
                }
            }
        }
    }
}
