<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-card *ngFor="let palestrante of getPalestrantes()">
      <ion-item>
        <img src="{{palestrante.foto}}" (click)="openProfile(palestrante)">
        <div class="dataSpeaker" (click)="openProfile(palestrante)">
          <h2>{{palestrante.nome}}</h2>
          <p>{{palestrante.ocupacao}}</p>
        </div>
        <div class="infoSpeaker">
          <div class="dataInfo">
            <span><ion-icon name="time"></ion-icon> {{getLectureTime(palestrante.key)}}</span>
            <span class="separator"></span>
            <span><ion-icon name="headset"></ion-icon> {{getChannel(palestrante.key)}}</span>
            <span class="separator"></span>
            <span><ion-icon name="star" color="star" (click)="toggleLecture(palestrante)"></ion-icon></span>
          </div>
        </div>
      </ion-item>
    </ion-card>    
  </ion-list>
  <div *ngIf="getPalestrantes().length == 0">
      Não há palestrantes marcados como favoritos.
  </div>
</ion-content>