page-favorite {
    ion-content{
        ion-card{
            ion-grid{
                padding: 0!important;
                .item-inner{
                    padding: 0!important;
                }
                ion-col{
                    padding: 0 !important;
                    :first{
                        padding-right: 10px !important;
                    }
                    img{
                        width: 110px;
                        height: 140px;
                    }
                    .dataSpeaker{
                        padding: 5px !important;
                        h2,p{
                            white-space: normal;
                            display: inline-block;
                            width: 100%;
                        }
                        h2{
                            font-size: 16px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    .infoSpeaker{
                        padding: 5px;
                        text-align: center;
                        span{
                            padding: 2px 5px;
                            height: 30px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
