<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="modalEditPost()" *ngIf="(profileData | async) ?.authorization ==1">
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="modalSendPhoto()" *ngIf="(profileData | async) ?.authorization !=0">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Timeline</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngFor="let post of posts; let idx = index">
    <ion-card>
      <div *ngIf="post.status == 'aprovado'">
        <img src="{{post.image}}">
        <ion-card-content>
          <p>{{post.message}}</p>
        </ion-card-content>      
      </div>
    </ion-card>
    <ion-card *ngIf="post.banner != null && (idx + 1) % 3 == 0">
      <a href="{{post.banner != null ? post.banner.link : '#!'}}"><img src="{{post.banner != null ? post.banner.imagemMenu : '#'}}" alt="{{post.banner != null ? post.banner.nome : '-'}}" title="{{banner != null ? banner.nome : '-'}}" /></a>
    </ion-card>
  </div>
</ion-content>
