<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'has-banner' : (banner != null)}">
  <div *ngFor="let content of conteudo">
    <img src="{{content.sobreimagem}}" alt="">
    <div innerHTML="{{content.sobre}}"></div>
    <h4>Dados de Wi-Fi</h4>
    <p>
      <span><ion-icon name="wifi"></ion-icon> {{content.ssid}}</span><br>
      <span><ion-icon name="key"></ion-icon> {{content.senha}}</span>
    </p>
  </div>
</ion-content>

<ion-footer>
  <div class="banner" *ngIf="banner != null">
    <a href="{{banner != null ? banner.link : '#!'}}"><img src="{{banner != null ? banner.imagemMenu : '#'}}" alt="{{banner != null ? banner.nome : '-'}}" title="{{banner != null ? banner.nome : '-'}}" /></a>
  </div>
</ion-footer>
