<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Patrocinadores</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-item-divider color="light">
      Diamond
    </ion-item-divider>
    <div *ngIf="_diamond.length > 0">
      <img *ngFor="let item of _diamond" src="{{item.logo}}" alt="{{item.nome}}" (click)="openProfile()"/>
    </div>

    <ion-item-divider color="light">
      Gold
    </ion-item-divider>
    <div *ngIf="_gold.length > 0">
      <img *ngFor="let item of _gold" src="{{item.logo}}" alt="{{item.nome}}" (click)="openProfile()"/>
    </div>

    <ion-item-divider color="light">
      Silver
    </ion-item-divider>
    <div *ngIf="_silver.length > 0">
      <img *ngFor="let item of _silver" src="{{item.logo}}" alt="{{item.nome}}" (click)="openProfile()"/>
    </div>

    <ion-item-divider color="light">
      Bronze
    </ion-item-divider>
    <div *ngIf="_bronze.length > 0">
      <img *ngFor="let item of _bronze" src="{{item.logo}}" alt="{{item.nome}}" (click)="openProfile()"/>
    </div>

    <ion-item-divider color="light">
      Apoio
    </ion-item-divider>
    <div *ngIf="_apoio.length > 0">
      <img *ngFor="let item of _apoio" src="{{item.logo}}" alt="{{item.nome}}" (click)="openProfile()"/>
    </div>
  </ion-list>
</ion-content>
