page-sponsors {
    ion-content{
        ion-list{
            ion-list-header{

            }
            div{
                img{
                    width: 40%;
                    display: inline-box;
                    margin: 10px;
                    vertical-align: -webkit-baseline-middle;
                }
            }
        }
    }
}
