<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Patrocinadores</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="patrocinadores">
    <div class="row box" *ngIf="_diamond.length > 0">
      <h3>Diamond</h3>
      <img *ngFor="let item of _diamond" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" *ngIf="_gold.length > 0">
      <h3>Gold</h3>
      <img *ngFor="let item of _gold" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" *ngIf="_silver.length > 0">
      <h3>Silver</h3>
      <img *ngFor="let item of _silver" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" *ngIf="_bronze.length > 0">
      <h3>Bronze</h3>
      <img *ngFor="let item of _bronze" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>

    <div class="row box" *ngIf="_apoio.length > 0">
      <h3>Apoio</h3>
      <img *ngFor="let item of _apoio" src="{{item.logo}}" alt="{{item.nome}}" />
    </div>
  </div>
</ion-content>
