<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notificações</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let notification of listNotifications.notifications">
    <ion-item *ngIf="notification.canceled == false">
      <ion-avatar item-start><img src="{{notification.large_icon}}" alt=""></ion-avatar>
      <ion-note item-end>{{notification.delivery_time_of_day}}</ion-note>
      <p>{{notification.contents.en}}</p>
    </ion-item>
  </ion-list>
</ion-content>
