@import "../../theme/variables";

page-speakers {
    .segment-ios{
        .segment-button{
            border-color: #CCC;
            &:first-of-type,&:not(:first-of-type){
                border-radius: 0;
            }
            &.activated,
            &.segment-activated{
                &.marketing{
                    border-color: color($colors-speakers, marketing);
                    background: color($colors-speakers, marketing);
                    color: color($colors, light);
                }
                &.inovacao{
                    border-color: color($colors-speakers, inovacao);
                    background: color($colors-speakers, inovacao);
                    color: color($colors, light);
                }
                &.estrategia{
                    border-color: color($colors-speakers, estrategia);
                    background: color($colors-speakers, estrategia);
                    color: color($colors, light);
                }
                &.operacoes{
                    border-color: color($colors-speakers, operacoes);
                    background: color($colors-speakers, operacoes);
                    color: color($colors, light);
                }
            }
        }
    }
    
    .segment-md{
        .segment-button{
            &.activated,
            &.segment-activated{
                &.marketing{
                    border-color: color($colors-speakers, marketing);
                    color: color($colors-speakers, marketing);
                }
                &.inovacao{
                    border-color: color($colors-speakers, inovacao);
                    color: color($colors-speakers, inovacao);
                }
                &.estrategia{
                    border-color: color($colors-speakers, estrategia);
                    color: color($colors-speakers, estrategia);
                }
                &.operacoes{
                    border-color: color($colors-speakers, operacoes);
                    color: color($colors-speakers, operacoes);
                }
            }
        }
    }

    ion-card{
        ion-item{
            padding-left: 0!important;
            position: relative !important;
            .item-inner{
                padding: 0!important;
            }
            ion-label{
                margin: 0 !important;
                img{
                    width: 110px;
                    height: 140px;
                    //border-radius: 50%;
                    float: left;
                    z-index: 9999;
                    background: #FFF;
                }
                .dataSpeaker{
                    float: left;
                    width: 65%;
                    margin: 5px 0 0 5px;
                    h2,p{
                        float: left;
                        white-space: normal;
                        display: inline-block;
                        width: 100%;
                    }
                    h2{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .infoSpeaker{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    height: 40px;
                    border-top: 1px solid #CCC;
                    z-index: -9999;
                    .dataInfo{
                        width: 100%;
                        text-align: right;
                        line-height: 40px;
                        z-index: 9999;
                        span{
                            z-index: 9999;
                            padding: 0 5px;
                            &.separator{
                                padding: 2px;
                                border-left: 1px dashed #CCC;
                            }
                        }
                    }
                }
            }
        }
    }
}
