<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Palestrantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment *ngIf="_trilhas" [(ngModel)]="trilhas">
    <ion-segment-button *ngFor="let trilha of _trilhas" class="{{trilha.alias}} segment-button" value="{{trilha.alias}}" (click)="ChangeTab(trilha.alias)">
      {{trilha.nome}}
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="trilhas">
    <div *ngFor="let trilha of _trilhas">
      <ion-list *ngSwitchCase="trilha.alias">
        <ion-card *ngFor="let palestrante of getPalestrantes(trilha.key)">
          <ion-grid>
            <ion-row>
              <ion-col col-auto>
                <img src="{{palestrante.foto}}" (click)="openProfile(palestrante)">
              </ion-col>
              <ion-col col-6>
                <div class="dataSpeaker" (click)="openProfile(palestrante)">
                  <h2>{{palestrante.nome}}</h2>
                  <p>{{palestrante.ocupacao}}</p>
                </div>
              </ion-col>
              <ion-col col-2 class="infoSpeaker">
                <span><ion-icon name="time"></ion-icon> {{getLectureTime(palestrante.key)}}</span>
                <span><ion-icon name="headset"></ion-icon> {{getChannel(palestrante.key)}}</span>
                <button ion-button icon-only clear (click)="toggleLecture(palestrante)">
                  <ion-icon name="star" color="{{ IsFavorited(palestrante.key) ? 'star' : 'disabled' }}"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-list>
    </div>
  </div>

</ion-content>
