@import "../../theme/variables";

page-speakers {
    .segment-ios{
        .segment-button{
            border-color: #CCC;
            &:first-of-type,&:not(:first-of-type){
                border-radius: 0;
            }
            &.activated,
            &.segment-activated{
                &.marketing{
                    border-color: color($colors-speakers, marketing);
                    background: color($colors-speakers, marketing);
                    color: color($colors, light);
                }
                &.inovacao{
                    border-color: color($colors-speakers, inovacao);
                    background: color($colors-speakers, inovacao);
                    color: color($colors, light);
                }
                &.estrategia{
                    border-color: color($colors-speakers, estrategia);
                    background: color($colors-speakers, estrategia);
                    color: color($colors, light);
                }
                &.operacoes{
                    border-color: color($colors-speakers, operacoes);
                    background: color($colors-speakers, operacoes);
                    color: color($colors, light);
                }
            }
        }
    }
    
    .segment-md{
        .segment-button{
            &.activated,
            &.segment-activated{
                &.marketing{
                    border-color: color($colors-speakers, marketing);
                    color: color($colors-speakers, marketing);
                }
                &.inovacao{
                    border-color: color($colors-speakers, inovacao);
                    color: color($colors-speakers, inovacao);
                }
                &.estrategia{
                    border-color: color($colors-speakers, estrategia);
                    color: color($colors-speakers, estrategia);
                }
                &.operacoes{
                    border-color: color($colors-speakers, operacoes);
                    color: color($colors-speakers, operacoes);
                }
            }
        }
    }

    ion-card{
        ion-grid{
            padding: 0!important;
            .item-inner{
                padding: 0!important;
            }
            ion-col{
                padding: 0 !important;
                :first{
                    padding-right: 10px !important;
                }
                img{
                    width: 110px;
                    height: 140px;
                }
                .dataSpeaker{
                    padding: 5px !important;
                    h2,p{
                        white-space: normal;
                        display: inline-block;
                        width: 100%;
                    }
                    h2{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                &.infoSpeaker{
                    padding: 5px;
                    text-align: center;
                    span{
                        display: block;
                        height: 30px;
                        margin: 10px 0;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
