@import "../../theme/variables";
page-schedule {
  ion-list {
    ion-item-group {
      ion-item-sliding {
        ion-item {
          h2 {
            font-size: 15px !important;
            white-space: normal;
          }
          p {
            font-size: 12px !important;
            white-space: normal;
            text-align: justify;
          }
          .iconCanal {
            float: right;
          }
        }
      }
    }
  }
  ion-badge {
    font-size: 10px;
  }
}
