@import "../../theme/variables";
page-schedule {
  ion-list {
    ion-item {
      padding-left: 0 !important;
      img{
        width: 80px !important;
        height: 98px !important;
      }
      h2 {
        font-size: 15px !important;
        white-space: normal;
      }
      p {
        font-size: 12px !important;
        white-space: normal;
        text-align: justify;
      }
      .iconCanal {
        float: right;
      }
    }
  }
  ion-badge {
    font-size: 10px;
    text-shadow: $text-shadow;
  }
}
