<ion-header>
  <ion-navbar color="rakuten">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-group *ngFor="let item of getTimeList()">
      <ion-item-divider color="light">
        <ion-icon name="time"></ion-icon> {{item}}
      </ion-item-divider>
      <ion-item *ngFor="let data of getLecturesByTime(item); let index = index">
        <ion-thumbnail item-start *ngIf="data.trilhaID != ''">
          <img src="{{getFotoPalestrantes(data.palestrantes)}}">
        </ion-thumbnail>
        <h2>{{getPalestrantesLabel(data.palestrantes)}}</h2>
        <p>{{data.titulo}}</p>
        <ion-badge color="{{getTrilhaData(data.trilhaID,2)}}" *ngIf="data.trilhaID != ''">{{getTrilhaData(data.trilhaID,3)}}</ion-badge>
        <span class="iconCanal" *ngIf="data.trilhaID != ''">
          <ion-icon name="headset"></ion-icon> {{getTrilhaData(data.trilhaID,1)}} &nbsp;| &nbsp;
          <ion-icon name="star" color="disabled" (click)="toggleLecture(data.palestrantes)"></ion-icon>
        </span>        
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
