@import "../../theme/variables";
page-schedule {
  ion-list {
    ion-item {
      padding-left: 0 !important;
      img {
        width: 80px !important;
        height: 98px !important;
      }
      ion-grid {
        ion-row {
          h2 {
            font-size: 15px !important;
            white-space: normal;
            display: block;
            width: 100%;
          }
          p {
            font-size: 12px !important;
            white-space: normal;
            text-align: justify;
          }
          ion-col {
            ion-badge {
              font-size: 10px;
              text-shadow: $text-shadow;
              color: #FFF !important;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
