page-signup {
    overflow: hidden;
    ion-content{
        z-index: 2;
        ion-col{
            z-index: 9999;
            h1{
                img{
                    width: 35%;
                }
            }
            ion-list{
                ion-item{
                    background: none !important;
                    color: #FFF !important;
                    border: 1px solid #FFF !important;
                    margin-bottom: 5px !important;
                    text-shadow: $text-shadow !important;
                }
            }
            p,small{
                width: 100%;
                color: #FFF;
                display: inline-block;
                margin: 5px 0;
                text-shadow: $text-shadow;
            }
            .socialLogin{
                img{
                    width: 50px;;
                    margin: 0 10px;
                }
            }            
        }
    }
}